In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r'C:\Users\mason\td\VIX-Calls-01-22.csv')

In [2]:
df.head()

,'Strike,'Symbol,'Bid,'Ask,'Price,'TPrice,'Volume,'OI,'NS,'IVol,'Delta,'Theta,'Gamma,'Vega,'Rho,'Strike.1,Unnamed: 16
0,'14,'VIX,'4.55,'4.60,'4.80,'5.31,'269,'5099,'S,'1.3804,'0.9410,'-0.0272,'0.0283,'0.0035,'0.0031,'14,NaN
1,'14.5,'VIX,'4.05,'4.15,'3.97,'4.85,'6,'677,'S,'1.3635,'0.9216,'-0.0335,'0.0356,'0.0044,'0.0032,'14.5,NaN
2,'15,'VIX,'3.55,'3.65,'3.60,'4.41,'195,'21640,'S,'1.3511,'0.8975,'-0.0405,'0.0439,'0.0054,'0.0032,'15,NaN
3,'15.5,'VIX,'3.10,'3.15,'4.23,'3.98,'7,'819,'S,'1.3420,'0.8684,'-0.0480,'0.0528,'0.0064,'0.0031,'15.5,NaN
4,'16,'VIX,'2.65,'2.70,'2.60,'3.58,'1163,'100917,'S,'1.3351,'0.8345,'-0.0556,'0.0618,'0.0075,'0.0031,'16,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   'Strike      21 non-null     object
 1   'Symbol      21 non-null     object
 2   'Bid         21 non-null     object
 3   'Ask         21 non-null     object
 4   'Price       21 non-null     object
 5   'TPrice      21 non-null     object
 6   'Volume      21 non-null     object
 7   'OI          21 non-null     object
 8   'NS          21 non-null     object
 9   'IVol        21 non-null     object
 10  'Delta       21 non-null     object
 11  'Theta       21 non-null     object
 12  'Gamma       21 non-null     object
 13  'Vega        21 non-null     object
 14  'Rho         21 non-null     object
 15  'Strike.1    21 non-null     object
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(1), object(16)
memory usage: 2.9+ KB

In [4]:
df.columns = [col.replace("'", "") for col in df.columns]

df = df.applymap(lambda x: str(x).replace("'", ""))

for col in df.columns:
    try:
        df[col] = pd.to_numeric(df[col])
    except ValueError:
        pass

C:\Users\mason\AppData\Local\Temp\ipykernel_9588\3051412960.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).replace("'", ""))

In [5]:
df.head()

,Strike,Symbol,Bid,Ask,Price,TPrice,Volume,OI,NS,IVol,Delta,Theta,Gamma,Vega,Rho,Strike.1,Unnamed: 16
0,14.0,VIX,4.55,4.60,4.80,5.31,269,5099,S,1.3804,0.9410,-0.0272,0.0283,0.0035,0.0031,14.0,nan
1,14.5,VIX,4.05,4.15,3.97,4.85,6,677,S,1.3635,0.9216,-0.0335,0.0356,0.0044,0.0032,14.5,nan
2,15.0,VIX,3.55,3.65,3.60,4.41,195,21640,S,1.3511,0.8975,-0.0405,0.0439,0.0054,0.0032,15.0,nan
3,15.5,VIX,3.10,3.15,4.23,3.98,7,819,S,1.3420,0.8684,-0.0480,0.0528,0.0064,0.0031,15.5,nan
4,16.0,VIX,2.65,2.70,2.60,3.58,1163,100917,S,1.3351,0.8345,-0.0556,0.0618,0.0075,0.0031,16.0,nan

In [6]:
print(df)

    Strike Symbol   Bid   Ask  Price  TPrice  Volume      OI NS    IVol  \
0     14.0    VIX  4.55  4.60   4.80    5.31     269    5099  S  1.3804
1     14.5    VIX  4.05  4.15   3.97    4.85       6     677  S  1.3635
2     15.0    VIX  3.55  3.65   3.60    4.41     195   21640  S  1.3511
3     15.5    VIX  3.10  3.15   4.23    3.98       7     819  S  1.3420
4     16.0    VIX  2.65  2.70   2.60    3.58    1163  100917  S  1.3351
5     16.5    VIX  2.27  2.31   2.35    3.20     194   34595  S  1.3298
6     17.0    VIX  1.95  2.00   1.97    2.84   10816  136518  S  1.3258
7     17.5    VIX  1.70  1.75   1.71    2.51      35   37628  S  0.3506
8     18.0    VIX  1.50  1.54   1.49    2.20   10238  171780  S  0.6748
9     18.5    VIX  1.33  1.37   1.34    1.92    2410   21261  S  0.8099
10    19.0    VIX  1.19  1.24   1.19    1.67    4755   99119  S  0.9348
11    19.5    VIX  1.07  1.12   1.08    1.44    2009   20298  S  1.0149
12    20.0    VIX  0.98  1.02   0.97    1.24   22806  277779  S  1.1150
13    20.5    VIX  0.89  0.93   0.93    1.06     896   17390  S  1.1871
14    21.0    VIX  0.81  0.86   0.82    0.90   18642  144791  S  1.2426
15    21.5    VIX  0.75  0.79   0.74    0.76     706   11252  S  1.3203
16    22.0    VIX  0.69  0.74   0.71    0.64    9161  213456  S  1.3779
17    22.5    VIX  0.65  0.69   0.67    0.54     672    7203  S  1.4451
18    23.0    VIX  0.60  0.64   0.62    0.45   11137   78961  S  1.4941
19    23.5    VIX  0.56  0.60   0.62    0.37     288    9677  S  1.5457
20    24.0    VIX  0.52  0.56   0.56    0.31    8179   86893  S  1.5903

     Delta   Theta   Gamma    Vega     Rho  Strike.1 Unnamed: 16
0   0.9410 -0.0272  0.0283  0.0035  0.0031      14.0         nan
1   0.9216 -0.0335  0.0356  0.0044  0.0032      14.5         nan
2   0.8975 -0.0405  0.0439  0.0054  0.0032      15.0         nan
3   0.8684 -0.0480  0.0528  0.0064  0.0031      15.5         nan
4   0.8345 -0.0556  0.0618  0.0075  0.0031      16.0         nan
5   0.7961 -0.0631  0.0707  0.0085  0.0030      16.5         nan
6   0.7538 -0.0700  0.0789  0.0095  0.0029      17.0         nan
7   0.9557 -0.0056  0.0887  0.0028  0.0041      17.5         nan
8   0.7446 -0.0364  0.1581  0.0097  0.0031      18.0         nan
9   0.6375 -0.0509  0.1537  0.0113  0.0027      18.5         nan
10  0.5562 -0.0618  0.1402  0.0119  0.0023      19.0         nan
11  0.4918 -0.0678  0.1304  0.0120  0.0021      19.5         nan
12  0.4410 -0.0737  0.1174  0.0119  0.0018      20.0         nan
13  0.3971 -0.0766  0.1078  0.0116  0.0017      20.5         nan
14  0.3579 -0.0777  0.0997  0.0113  0.0015      21.0         nan
15  0.3284 -0.0799  0.0908  0.0109  0.0014      21.5         nan
16  0.3004 -0.0803  0.0838  0.0105  0.0012      22.0         nan
17  0.2784 -0.0812  0.0771  0.0101  0.0012      22.5         nan
18  0.2564 -0.0806  0.0715  0.0097  0.0011      23.0         nan
19  0.2378 -0.0801  0.0664  0.0093  0.0010      23.5         nan
20  0.2204 -0.0789  0.0619  0.0089  0.0009      24.0         nan