In [2]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r'C:\Users\mason\td\VIX-Puts-01-22.csv')

In [3]:
df.head()

,'Strike,'Symbol,'Bid,'Ask,'Price,'TPrice,'Volume,'OI,'NS,'IVol,'Delta,'Theta,'Gamma,'Vega,'Rho,'Strike.1,Unnamed: 16
0,'14,'VIX,'0.01,'0.02,'0.01,'0.09,'536,'120416,'S,'0.9485,'-0.0142,'-0.0057,'0.0126,'0.0011,'-0.0001,'14,NaN
1,'14.5,'VIX,'0.01,'0.03,'0.02,'0.13,'83,'81977,'S,'0.8938,'-0.0194,'-0.0070,'0.0175,'0.0014,'-0.0001,'14.5,NaN
2,'15,'VIX,'0.02,'0.04,'0.03,'0.19,'8443,'184651,'S,'0.8565,'-0.0288,'-0.0094,'0.0255,'0.0020,'-0.0001,'15,NaN
3,'15.5,'VIX,'0.04,'0.06,'0.05,'0.26,'4372,'98957,'S,'0.8385,'-0.0457,'-0.0135,'0.0380,'0.0029,'-0.0002,'15.5,NaN
4,'16,'VIX,'0.10,'0.12,'0.11,'0.36,'13537,'163900,'S,'0.8878,'-0.0847,'-0.0231,'0.0580,'0.0047,'-0.0004,'16,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   'Strike      21 non-null     object
 1   'Symbol      21 non-null     object
 2   'Bid         21 non-null     object
 3   'Ask         21 non-null     object
 4   'Price       21 non-null     object
 5   'TPrice      21 non-null     object
 6   'Volume      21 non-null     object
 7   'OI          21 non-null     object
 8   'NS          21 non-null     object
 9   'IVol        21 non-null     object
 10  'Delta       21 non-null     object
 11  'Theta       21 non-null     object
 12  'Gamma       21 non-null     object
 13  'Vega        21 non-null     object
 14  'Rho         21 non-null     object
 15  'Strike.1    21 non-null     object
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(1), object(16)
memory usage: 2.9+ KB

In [5]:
df.columns = [col.replace("'", "") for col in df.columns]

df = df.applymap(lambda x: str(x).replace("'", ""))

for col in df.columns:
    try:
        df[col] = pd.to_numeric(df[col])
    except ValueError:
        pass

C:\Users\mason\AppData\Local\Temp\ipykernel_8988\3051412960.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x).replace("'", ""))

In [6]:
df.head()

,Strike,Symbol,Bid,Ask,Price,TPrice,Volume,OI,NS,IVol,Delta,Theta,Gamma,Vega,Rho,Strike.1,Unnamed: 16
0,14.0,VIX,0.01,0.02,0.01,0.09,536,120416,S,0.9485,-0.0142,-0.0057,0.0126,0.0011,-0.0001,14.0,nan
1,14.5,VIX,0.01,0.03,0.02,0.13,83,81977,S,0.8938,-0.0194,-0.0070,0.0175,0.0014,-0.0001,14.5,nan
2,15.0,VIX,0.02,0.04,0.03,0.19,8443,184651,S,0.8565,-0.0288,-0.0094,0.0255,0.0020,-0.0001,15.0,nan
3,15.5,VIX,0.04,0.06,0.05,0.26,4372,98957,S,0.8385,-0.0457,-0.0135,0.0380,0.0029,-0.0002,15.5,nan
4,16.0,VIX,0.10,0.12,0.11,0.36,13537,163900,S,0.8878,-0.0847,-0.0231,0.0580,0.0047,-0.0004,16.0,nan